body{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding-left: 150px;
    padding-right: 200px;
    padding-top: 15px;
}
.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style-type: none;
}
.right-header{
    display: flex;
    gap: 15px;
}
.logo{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.placeholder{
    display: flex;
    height: 200px;
    width: 500px;
    background-color: gray;
    color: #f9faf9;
    justify-content: center;
    align-items:center;
}
.lower-header{
    display: flex;
    margin-top: 50px;
    gap: 250px;
    align-items: center;
    margin-bottom: 150px;
    
}
.leftlower{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 320px;
    
}
h1{
    font-size: 48px;
    color: #f9faf9;
    font-weight: 900;
    height: 60px;
}
p{
    font-size: 18px;
    color: #e5e7eb;
    width: 500px;
}
button{ 
    background: #3882f6;
    border: 1px solid royalblue;
    color: white;
    width: 120px;
    padding: 10px;
    border-radius: 12px;
}
.sec2{
    display: flex;
    flex-direction: column;
}
.header2{
    display: flex;
    justify-content: center;
}
.ilu{
    background-color: transparent;
    height: 150px;
    width: 150px;
    border: 5px solid #89CFF0;
    border-radius: 8px;
}
.sec2-ilu{
    display: flex;
    padding-left: 250px;
    gap: 20px;

}